.layout {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.left {
  height: 100%;
  min-width: 307px;
  overflow: hidden !important;
  border-right: 1px solid var(--divider-secondary);
  background-color: var(--background-primary);
}

.listHeader {
  height: 68px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-l);
}

.buttons {
  display: flex;
  align-items: center;
  gap: 12px;
}