.meta {
  position: absolute;
  bottom: -4px;
  right: 0;
  display: flex;
  gap: 2px;
  align-items: flex-end;
}

.time {
  font-size: 11px;
  color: var(--bubbles-text-time);
}
.status {
  display: inline-flex;
  align-items: center;
  height: 8px;
  margin-bottom: 2px;
  color: #8c9499;
}

.secondCheck {
    margin-left: -10px;
    margin-top: -1px;
}