.authPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container {
  width: 580px;
  height: 696px;
  display: flex;
  align-items: center;
  justify-content: center;
}
