.container {
  height: 100dvh;

  background-color: var(--background-primary);
  background-image: url("https://web.max.ru/_app/immutable/assets/pattern_space.aFb4MW9l.svg");
  background-repeat: repeat;
  background-position: center;
  background-size: auto auto;
}
